.hero-background {
  width: 100%;
  height: 350px;

  background: url("./img/bg5.jpg") no-repeat center center/cover;
}
.hero-container {
  width: 2000px;
  margin: 0 auto;
}
.wrapperrr {
}
.alignment-styles {
  width: 1160px !important;
  margin: 0 auto !important;
}

.pills-style {
  padding: 20px !important;
  text-align: center;
  color: orangered;
  font-weight: 700;
}
.pills-style:not(:last-child) {
  border-bottom: 1px solid lightgray !important;
}

.nav-pills .nav-link.active {
  background-color: #f1f7fc !important;

  color: midnightblue !important;
}
.nav-pills .nav-link:hover {
  background-color: #f1f7fc !important;
  color: midnightblue;
}

.alignment-styles .col-3 {
  border: 2px solid white;
  border-radius: 10px;
  background-color: white;
  padding: 10px;
  max-height: 280px;
}
.alignment-styles {
}

.about-and-other-stuff-container {
  background-color: #f1f7fc;
  height: 100vh;
}
